<div >
<mat-toolbar color="primary">
    <span>Get the Latest news about corona here:</span>
  </mat-toolbar>

<div style="display: flex; flex-wrap: wrap;">
    <div style="flex-basis: 25%; margin:10px ;" *ngFor="let news of newsArray">
        <mat-card style="width: 300px;">
            <mat-card-title>
                {{news.title}}
            </mat-card-title>
            <mat-card-content>

                {{news.description}}
            </mat-card-content>
        </mat-card>
        </div>
    </div>
    </div>
    