<mat-toolbar color="primary">
    <span class="fill-remaining-space">Admin Portal Login</span>
  </mat-toolbar>

<br>

<mat-card>
    <mat-card-content>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="example-container">
    <mat-form-field appearance="fill">
        <mat-label>Enter your Username</mat-label>
      <input matInput  formControlName="username">
     
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide"  [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit" class="button"  [disabled]="!loginForm.valid">Submit Form</button>
  </form>
  
  </mat-card-content>
  </mat-card>